/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

*, html, body {
  font-family: 'Outfit', sans-serif !important;
  z-index:0;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    background-image: url('../bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.content {
    background: #1f1f1f30;
    margin:0px 0 5px 0;
    padding: 10px 0;
    backdrop-filter: blur(5px);
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: rgb(47, 113, 255) 1px 0 10px;
}


.ptext {
    width: 60%;
    margin:10px auto;
    background: #ffffff7d;
    padding: 18px;
    line-height: 24px;
}

.ptext img {
    width: 100%;
    margin: auto;
}
/*  */

footer {
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    text-align: center;
    background: #3e6ddd30;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(5px);
    min-height: 16vh;
}


footer ul {
    display: flex;
    margin: auto;
    align-items: center;
}

footer li {
    font-size:1.1em;
    margin:0 25px;
    padding:10px;
    background:rgba(0, 0, 0, 0.031);
}

/*  */

nav {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    padding:35px 0;
    text-align: center;
    flex-direction: column;
}

nav ul {
    display: flex;
    margin: 5px auto;
}

nav li {
    font-size:1.1em;
    margin:0 25px;
    padding:10px;
    background:rgba(0, 0, 0, 0.81);
    color:white;
    border-radius: 8px;
    text-transform: uppercase;
}

nav li:hover {
    font-size:1.1em;
    margin:0 25px;
    padding:10px;
    background:rgba(43, 106, 255, 0.81);
    color:white;
    border-radius: 8px;
    text-transform: uppercase;
}


nav li.actv {
    background:rgba(28, 80, 202, 0.81);
}


nav a {
    text-decoration: none;
}

/*  */

header {
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-flow: column;
}

header .box {
    margin:auto;
    padding: 2em 3em;
    border:2px solid white;
    text-transform: uppercase;
    text-align: center;
}

header .title {
    background-color: white;
    font-size:2em;
    letter-spacing: 9px;
    padding:15px;
    margin:20px 0;
}


header .text {
    color: white;
    letter-spacing: 12px;
}